

body{
    background-color:black;
    

}




.filler{
    display: block;
        background-color: black;
        border: 5px solid black;
        color: red;
        height: 500px;

    }

header{
     background-color:rgb(0, 0, 0);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #eb0042;
     text-align: center;
     font-size: 2em;
     padding: 5vh;
     
}


.ADcon{
    background-color: #FFDEDE;
    height: auto;
    align-content: center;
    padding: 10px;
    text-align: center;

    
}

.con{
    background-color: #FFDEDE;
    padding:5px;
    display: inline-block;
    align-content: center;
    text-decoration: none;
    color: black;
    border: 1px black solid;
    box-shadow: 1px 2px;
    border-radius: 40px;
    
    
}

.ADcon a#active{
    background-color: rgb(255, 251, 251);
    font-style: bold;
    border-radius: 50px;

    
}
.ADcon a:hover{
    background-color: grey;
    font-style: normal;
    text-decoration: none;

}


.AnalysisAxialTen{
    background-color: rgb(255, 255, 255);
    height: 100em;
    

}

.AxielT{

    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.AxialTen{
    padding: 10px;    
    height: 500px;
    width: 400px;
    overlay: auto;
   
}

.AxialTenR{
    padding: 10px;    
    height: 500px;
    width: 1000em;
    font-weight: bold;
    overflow: hidden;
    
    
    
   
}

.AnalysisTen{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
}


#ASTMSPEC{
    background-color: #FF0B55;
    border-top-left-radius: 20px ;
    left:10px;
    ; 
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#Result{
    background-color: #FFDEDE;
    border-top-right-radius: 20px;
    box-shadow: 10px 0px black ;
    
}

.YS{
    width: 100px;
    height: 83.333px;
}

.Calculate{
  margin-left: 280px;
  margin-top: 60px;
  box-shadow: 2px 2px;
  background-color: rgb(32, 30, 30)E;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  color:rgb(38, 48, 48)e;
}


input{
   border-radius: 10px;

}

.RESULT{
    background-color: #ffffff;
    margin-left: 50px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 3PX 4PX #FF0B55;
    
}











